<main>
  <div class="main-wrapper-onepage main oh">

    <!-- About Me -->
    <section class="section-wrap about-me">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-7">
            <img class="my-photo" [src]="srcImg" (load)="onLoadImage()" [hidden]="isLoading" alt="">
            <div class="mt-4">
              <div class="loader-custom p-2" *ngIf="isLoading">
                "Loading..."
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-5">
            <div class="info mt-40">
              <h2>{{ 'portfolio.nameAuthor' | translate }}</h2>
              <p class="subheading mt-20">
                {{ 'portfolio.about' | translate }}
              </p>

              <p class="mb-40 mt-20">
                {{ 'portfolio.aboutSite' | translate }}
              </p>

              <div class="skills-progress">
                <h6>Java Developer <span>90%</span></h6>
                <div class="progress-solid meter">
                  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar"
                       style="width: 90%;">
                    <span class="sr-only">90% Complete</span>
                  </div>
                </div>

                <h6>Web Development <span>60%</span></h6>
                <div class="progress-solid meter" id="animated-skills">
                  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar"
                       style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section> <!-- end about me-->

    <hr/>

    <!-- Contact -->
    <section class="section-wrap contact" id="contact">
      <div class="container">

        <div class="row heading">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="text-center bottom-line">{{ 'portfolio.contact' | translate }}</h2>
            <p class="subheading">{{ 'portfolio.contactLabel' | translate }}</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <h5>{{ 'portfolio.contacts.contact' | translate }}</h5>
            <p>{{ 'portfolio.contacts.time' | translate }}: 9:00 – 18:00</p>

            <div class="contact-item">
              <div class="contact-icon">
                <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
              </div>
              <h6>{{ 'portfolio.contacts.address' | translate }}</h6>
              <p>{{ 'portfolio.contacts.place' | translate }}</p>
            </div> <!-- end address -->

            <div class="contact-item">
              <div class="contact-icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
              <h6>E-mail</h6>
              <a href="mailto:enigmasupport@gmail.com">to.developer.aleksey@gmail.com</a>
            </div> <!-- end email -->

          </div>

          <div class="col-md-8">
            <form id="contact-form" action="#" (ngSubmit)="sendEmailContact()" [formGroup]="formGroup">

              <div class="row contact-row">
                <div class="col-md-6 contact-name">
                  <input name="name" id="name" type="text" autocomplete="off"
                         placeholder="{{ 'portfolio.name' | translate }}"
                         formControlName="name" [ngClass]="{ 'error-input':submitted && field.name.errors }">
                </div>
                <div class="col-md-6 contact-email">
                  <input name="toEmail" id="toEmail" type="email" placeholder="E-mail*" autocomplete="off"
                         formControlName="toEmail" [ngClass]="{ 'error-input':submitted && field.toEmail.errors }">
                </div>
              </div>

              <input name="subject" id="subject" type="text" placeholder="{{ 'portfolio.subject' | translate }}"
                     autocomplete="off" formControlName="subject"
                     [ngClass]="{ 'error-input':submitted && field.subject.errors }">

              <textarea name="text" id="text" placeholder="{{ 'portfolio.message' | translate }}"
                        formControlName="text" [ngClass]="{ 'error-input':submitted && field.text.errors }"></textarea>

              <input type="submit" class="btn btn-lg btn-color btn-submit" id="submit-message" autocomplete="off"
                     value="{{ 'portfolio.sendMessage' | translate }}">
              <div id="msg" class="message"></div>
            </form>
          </div> <!-- end col -->

        </div>
      </div>
    </section> <!-- end contact -->

  </div> <!-- end main-wrapper -->
</main>
