<div data-spy="scroll" data-offset="60" data-target=".navbar-fixed-top">
  <header-site></header-site>
  <!-- 404-->
  <section class="section-wrap page-404">
    <div class="container">

      <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
          <h1>404</h1>
          <h2 class="mb-50">{{'notFound.pageNotFound' | translate}}</h2>
          <p class="mb-20">{{'notFound.goBack' | translate}} <a routerLink="/">{{'notFound.homepage' | translate}}</a></p>
        </div>
      </div>

    </div>
  </section> <!-- end 404-->
  <footer-site></footer-site>
</div>
