<!-- Footer -->
<footer class="footer minimal bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <h2>
            <a routerLink="/" class="color-white">aigetcode</a>
          </h2>
        </div>
        <div class="socials footer-socials">
          {{ 'main.description' | translate }}
        </div>

        <span class="copyright text-center">
              ©2020 AIGETCODE  |  Development by <a routerLink="/portfolio">Aleksey Ivanitskiy</a>
        </span>

      </div>
    </div>
  </div>
</footer> <!-- end footer -->
